.sidebar {
  width: 30%;
  float: left;
  padding: 10px;
  border: solid black;
  border-width: 20px;
  margin-bottom: 10px;
  background-color: yellow;
  box-sizing: border-box;
}
img {
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}